# This file defines the canonical configuration parameters of the application.
# Symfony uses this file as a template to generate the real app/config/parameters.yml
# used by the application.
# See https://symfony.com/doc/current/best_practices/configuration.html#canonical-parameters
parameters:
    # The code of the default language used by the application ('en' = English)
    locale: en

    # The 'secret' value is a random string of characters used by Symfony to
    # to add more entropy to security related operations.
    # see: https://symfony.com/doc/current/reference/configuration/framework.html#secret
    env(SYMFONY_SECRET): 'secret_value_for_symfony_demo_application'

    # Destination for log files; can also be "php://stderr" etc
    env(SYMFONY_LOG): '%kernel.logs_dir%/%kernel.environment%.log'

    database_host: ~
    database_port: ~
    database_name: ~
    database_user: ~
    database_password: ~

    # If you don't use a real mail server, you can send emails via your Gmail account.
    # see https://symfony.com/doc/current/cookbook/email/gmail.html
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
